<mat-toolbar color="primary">
    <span>Online Card Games</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button routerLink="/games" routerLinkActive="active"> Games </button>
    <button mat-button routerLink="/" routerLinkActive="active" (click)="signin()"> Sign In </button>
</mat-toolbar>


<div class="content">
  	<h1>
    	Welcome to {{ title | async }}!
  	</h1>
  	<img width="300" alt="Angular Logo" src="https://i.pinimg.com/originals/3d/ed/40/3ded405249edab2e100a50cfb745517d.jpg">
  	<h4>
		This application is currently under development.
		Expect to see really cool things soon!
	</h4>
	<div style="width: 100%; height: 4px; background: #777777; "></div>

    <router-outlet></router-outlet>
</div>